/* Imports */
/* Icons */
@import url("https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css");
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --theme-color: #0f758e;
    --secondary-color: #e5781f;
    --white: #ffffff;
    --black: #000000;
}

/*::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
/*    background-color: #F5F5F5;*/
/*    border-radius: 10px;*/
/*}*/

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--theme-color);
}

html {
    font-size: 16px;
    scroll-behavior: initial !important;
    overscroll-behavior: none !important;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #110F0F;
    box-sizing: border-box;
    overflow-x: clip;
}

p {
    font-size: 1rem;
    color: #fff8;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
}

.img-auto {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

a,
button {
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

/*buttons*/

.themeBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1.75em;
    border-radius: 30px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 100%;
    text-transform: uppercase;
}

.themeBtn:hover {
    background-color: var(--theme-color);
}

section {
    position: relative;
    padding: 5rem 7rem;
}

.subHeading {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.mainHeading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--white);
    text-transform: capitalize;
}

.mainHeading span {
    color: var(--secondary-color);
}

.row [class*="col-"] {
    position: relative;
}

header {
    background: #0f0f0f66;
    backdrop-filter: blur(18px);
    padding: 1rem 7rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11111;
}

header .container-fluid {
    padding: 0;
}

header .navbar-brand {
    padding: 0;
    margin: 0;
}

header .navbar-nav {
    gap: 1.5rem;
    align-items: center;
}

header .navbar-nav .nav-item .nav-link {
    color: var(--white);
    padding: 0;
    text-transform: capitalize;
    position: relative;
    line-height: 1.25rem;
    font-size: 1rem;
}

header .navbar-nav .nav-item:not(.dropdown) .nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background: var(--secondary-color);
    height: 2px;
    transition: all 0.3s ease;
    transform-origin: left;
    transform: scaleX(0);
}

header .navbar-nav .nav-item .nav-link:hover {
    color: var(--secondary-color);
}

header .navbar-nav .nav-item:not(.dropdown) .nav-link:hover::before {
    transform: scaleX(1);
}

.heroSec {
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.heroSec::before {
    content: '';
    position: absolute;
    top: -10rem;
    right: -10rem;
    width: 30rem;
    height: 30rem;
    background: var(--theme-color);
    border-radius: 100%;
    filter: blur(150px);
    z-index: 1;
}

.heroSec::after {
    content: '';
    position: absolute;
    bottom: -10rem;
    left: -10rem;
    width: 30rem;
    height: 30rem;
    background: var(--secondary-color);
    border-radius: 100%;
    filter: blur(150px);
    z-index: 1;
}

.heroSec h1 {
    color: var(--white);
    font-size: 6rem;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.heroSec h1 span {
    background: -webkit-linear-gradient(217.81deg,
            #57a2b5 25.05%,
            #65a2b1 25.05%,
            #e5781f 51.71%,
            #0f758e 79.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroSec .heroBg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.companiesSec .headingRow {
    display: flex;
    gap: 2rem;
}

.companiesSec .headingRow>* {
    flex: 0 1 100%;
}

.companiesSec .headingRow>h2 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.pillsSec {
    padding: 5rem 0;
}

.pillsRow {
    display: flex;
    gap: 1.25rem;
}

.pillsRow+.pillsRow {
    margin-top: 1.25rem;
}

.pillsRow .pill {
    border-radius: 0.625rem;
    border: 1px solid var(--secondary-color);
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* we-offer */
.we-offer-ellipses img {
    position: absolute;
}

.we-offer-ellipses img:nth-of-type(1) {
    left: 0;
}

.we-offer-ellipses img:nth-of-type(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.we-offer-ellipses img:nth-of-type(3) {
    right: 0;
}

.we-offer__title {
    margin-bottom: 2.5rem;
}

.we-offer__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    background: transparent;
    border: 1px solid #A1AEBF;
    border-radius: 0.25rem;
    padding: 1.25em;
    height: 100%;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.we-offer__card:hover {
    background: #E5781F1A;
    border-color: var(--secondary-color);
}

.we-offer .row .col-md-4 {
    margin-bottom: 2.5rem;
}

.we-offer__card__img img {
    width: 48px;
    aspect-ratio: 1;
    object-fit: contain;
}

.we-offer__card__content h4 {
    font-size: 1.75rem;
    line-height: 1.3;
    color: var(--white);
    text-transform: capitalize;
}

.we-offer__card__content p {
    color: #FFFFFF99;
    margin: 0;
}

/* why-choose-us */
.why-choose-us {
    background: #110F0F;
    border-radius: 2.5rem;
    margin: 0.875rem;
}

.why-choose-us::before {
    content: "";
    background: var(--secondary-color);
    position: absolute;
    inset: -0.875rem;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}

.why-choose-us .mainHeading {
    font-size: 3.25rem;
}

.why-choose-us__item h3 {
    font-size: 12.5rem;
    font-weight: 600;
    -webkit-text-stroke: 2px var(--secondary-color);
    color: transparent;
    line-height: 1;
    margin: 0;
}

.why-choose-us__item h4 {
    font-weight: 400;
    font-size: 4.375rem;
    line-height: 1.14;
    color: var(--white);
}

.why-choose-us__bullets {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: -7rem;
}

.why-choose-us__bullets span {
    display: block;
    height: 4px;
    background: var(--secondary-color);
}

.why-choose-us__bullets span:nth-of-type(1) {
    width: 390px;
    transform: rotate(-20deg);
}

.why-choose-us__bullets span:nth-of-type(2) {
    width: 350px;
    transform: translateX(10px) rotate(-10deg);
}

.why-choose-us__bullets span:nth-of-type(3) {
    width: 390px;
    transform: translateY(-12px) translateX(12px) rotate(-2.5deg);
}

.why-choose-us__bullets span:nth-of-type(4) {
    width: 350px;
    transform: translateY(-16px) translateX(11px) rotate(7deg);
}

.why-choose-us__bullets span:nth-of-type(5) {
    width: 390px;
    transform: translateY(-21px) translateX(6px) rotate(14.87deg);
}

.why-choose-us__bullets span:nth-of-type(6) {
    width: 390px;
    transform: translateY(-26px) translateX(-4px) rotate(23.87deg);
}

.why-choose-us__bullets span::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #110F0F;
    border: 1px solid #E5781F;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.why-choose-us__bullets span.active::before {
    background: linear-gradient(217.81deg, #57A2B5 25.05%, #65A2B1 25.05%, #E5781F 51.71%, #0F758E 79.45%);
}

.whychooseSilder :is(.swiper-button-next, .swiper-button-prev) {
    position: static;
    margin: 0;
    width: fit-content;
    height: auto;
}

.whychooseSilder :is(.swiper-button-next, .swiper-button-prev)::after {
    display: none;
}

.whychooseSilder .swiper-button-next {
    margin-left: 1rem;
}

.whychooseSilder .swiper-slide .row {
    opacity: 0;
}

.whychooseSilder .swiper-slide.swiper-slide-active .row {
    opacity: 1;
}

/* case-studies */
.case-studies__card {
    position: relative;
    border-radius: 0.25rem;
    padding: 1.5em;
    border: 1px solid #A1AEBF;
    margin-bottom: 2rem;
    transition: all 300ms ease-out;
}

.case-studies__card:hover {
    background: #E5781F1A;
    border-color: var(--secondary-color);
}

.case-studies__card--img img {
    width: 100%;
    height: 142px;
    border-radius: .25rem;
    object-fit: cover;
}

.case-studies__card--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.case-studies__card--content h6 {
    width: fit-content;
    font-size: .75rem;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    background: var(--secondary-color);
    padding: .25em .75em;
    border-radius: .25rem;
    margin: 0;
}

.case-studies__card--content h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    margin: 0;
}

.case-studies__card--content a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}

.case-studies__card--content a i {
    margin-left: .5rem;
}

/* faq-section */
.faq-section {
    margin: 1.5em;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 54px 10px #0F758E1A;
}

.faq__title {
    margin-bottom: 4.375rem;
}

.faq__title .subHeading {
    width: fit-content;
    background: linear-gradient(0deg, #E5781F, #E5781F), linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 1px 1px 0px #FFFFFF33 inset, 0px 6px 12px 0px #FFFFFF0A inset, 0px 1px 2px 0px #00000033, 0px 4px 4px 0px #00000014;
    padding: .75em 1em;
    margin: 0 auto .5rem;
    font-size: 1rem;
    color: var(--white);
    border-radius: 3.125rem;
    line-height: 1;
}

.faq-accordion .accordion-item {
    border-radius: 1rem;
    padding: 1.5em;
    background: linear-gradient(0deg, #191919, #191919), linear-gradient(180deg, rgba(229, 120, 31, 0.12) 0%, rgba(15, 117, 142, 0) 100%);
    box-shadow: 0px 4px 4px 0px #0000001A, 0px 12px 32px -12px #0000001A, 0px 6px 12px 0px #FFFFFF0A inset, 0px 1px 1px 0px #FFFFFF33 inset;
    border: none;
}

.faq-accordion .accordion-item:not(:last-child) {
    margin-bottom: 1rem;
}

.faq-accordion .accordion-button {
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #E0E0E0;
    border: none;
    box-shadow: none;
}

.faq-accordion .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(90%) sepia(1%) saturate(0%) hue-rotate(14deg) brightness(102%) contrast(91%);
}

.faq-accordion .accordion-body {
    padding-inline: 0;
}

.faq-accordion .accordion-body p {
    font-size: 1rem;
    color: #fff8;
    margin: 0;
}

/* testimonials-section */
.testimonial-section {
    background: var(--black);
}

.testimonial__slider {
    margin-top: 3.375rem;
}

.testimonial__card {
    border-radius: .25rem;
    padding: 1.5em;
    background: #0F0F0F;
    border: 1px solid var(--secondary-color);
}

.testimonial__card--img {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.testimonial__card--img img {
    width: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial__card--name h5 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    text-transform: capitalize;
    margin: 0;
}

.testimonial__card--name h5 span {
    color: #FFFFFF99;
}

.testimonial__card--content p {
    font-weight: 600;
    color: var(--white);
    margin: 0;
}

.testimonial__slider__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

.testimonial__slider__btn :is(.swiper-button-prev, .swiper-button-next) {
    position: static;
    margin: 0;
    width: 60px;
    height: 60px;
    background: #0F0F0F;
    border: 1px solid #E5781F;
    border-radius: .25rem;
    color: var(--secondary-color);
}

.testimonial__slider__btn :is(.swiper-button-prev, .swiper-button-next)::after {
    font-size: 1rem;
}

/* footer */
.footer {
    padding: 5rem 7rem;
    background: var(--black);
}

.get-started {
    position: relative;
    background: #110F0F;
    border-radius: 0.625rem;
    border: 2px solid var(--theme-color);
    box-shadow: 0px 2px 210px 10px #0F758E40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 3.625em;
    margin-bottom: 4.375rem;
}

.get-started__content .mainHeading {
    font-size: 2.125rem;
    line-height: 1.25;
}

.get-started__content p {
    font-size: 1.125rem;
    margin: 0;
    color: var(--white);
}

.footer__links h5 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 1.5rem;
}

.footer__links li:not(:last-child) {
    margin-bottom: 1.5rem;
}

.footer__links li a {
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF99;
    text-transform: capitalize;
}

.footer__updates h6 {
    font-weight: 300;
    font-size: 1rem;
    color: #FFFFFF99;
    text-transform: capitalize;
    margin: 1.5rem 0;
}

.footer__form input {
    border-radius: 1.5rem;
    padding: 0.5rem 0.8125em;
    background: #0F0F0F;
    border: 1.62px solid #A1AEBF;
    color: var(--white);
    outline: none;
}

.footer__form input::placeholder {
    color: var(--white);
}

.footer__form .themeBtn {}